extends main
block body
  p #{n}! = #{factorial(n)}
  form(action="/fact")
    input(
      type="text"
      required
      autofocus
      name="n"
      value=n)
    input(type="submit" value="Нажми меня!")
