extends main

block vars
  -
    title = "Factorial"

block body
  p #{n}! = #{factorial(n)}
  form(action="/fact")
    input(
      type="text"
      required
      autofocus
      name="n"
      value=req.query.n)
    input(type="submit" value="Нажми меня!")
